In [27]:
# import zipfile

In [28]:
# ref = zipfile.ZipFile("archive.zip")
# ref.extractall()
# ref.close()

In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("Crop_recommendation.csv")

In [31]:
df.head()

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label,Unnamed: 8,Unnamed: 9
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,NaN,NaN
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,NaN,NaN
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,NaN,NaN
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,NaN,NaN
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,NaN,NaN

In [32]:
df = df.iloc[:,:-2]

In [33]:
df.head()

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice

In [34]:
df.describe()

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [35]:
df.isna().sum()

Nitrogen       0
phosphorus     0
potassium      0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [36]:
def euc_dist(X1 , X2):
    return np.sqrt(np.sum((X2 - X1) ** 2))

In [37]:
a = np.array([1,2])
b = np.array([5,7])

a + b

array([6, 9])

In [38]:
class KNN:
    def __init__(self, K = 5)  -> None:
        self.K = K
    
    def fit(self , X , y):
        self.X , self.y  = X , y.values
    def predict(self , X):
        
        ans = []
        distance = [[euc_dist(self.X[i] , X) , i] for i in range(len(self.X))] # type: ignore
        distance.sort(key = lambda x : x[0])
        labels = [self.y[ele] for _ , ele in distance]
        i = 0
        while len(ans) != self.K and i < len(labels):
            if labels[i] not in ans:
                ans.append(labels[i])
            i += 1
        return ans

In [39]:
df.sample(5)

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
459,25,64,20,33.151226,32.459745,4.807777,105.038027,pigeonpeas
654,17,58,20,28.066428,85.916255,6.429379,39.238310,mungbean
280,54,62,80,17.489117,16.390554,7.489545,79.457583,chickpea
111,90,49,21,24.840167,68.358457,6.472523,74.054749,maize
241,59,55,79,20.367204,16.895743,8.766129,82.254558,chickpea

In [40]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [41]:
X.head()

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall
0,90,42,43,20.879744,82.002744,6.502985,202.935536
1,85,58,41,21.770462,80.319644,7.038096,226.655537
2,60,55,44,23.004459,82.320763,7.840207,263.964248
3,74,35,40,26.491096,80.158363,6.980401,242.864034
4,78,42,42,20.130175,81.604873,7.628473,262.717340

In [42]:
len(y.unique())

22

In [43]:
from sklearn.preprocessing import MinMaxScaler

In [44]:
scaler = MinMaxScaler()

In [45]:
X_tnf = scaler.fit_transform(X)

In [46]:
X_tnf

array([[0.64285714, 0.26428571, 0.19      , ..., 0.79026683, 0.46626364,
        0.65645778],
       [0.60714286, 0.37857143, 0.18      , ..., 0.77063285, 0.54948026,
        0.74167459],
       [0.42857143, 0.35714286, 0.195     , ..., 0.79397664, 0.67421877,
        0.87571039],
       ...,
       [0.84285714, 0.2       , 0.125     , ..., 0.61788046, 0.44443315,
        0.55007079],
       [0.83571429, 0.19285714, 0.145     , ..., 0.44175991, 0.50604494,
        0.38428046],
       [0.74285714, 0.09285714, 0.125     , ..., 0.53822177, 0.50931694,
        0.43372112]])

In [47]:
knn = KNN()

In [48]:
knn.fit(X_tnf , y)

In [49]:
val = 78
print(knn.predict(X_tnf[val]))

['rice', 'jute', 'coffee', 'papaya', 'coconut']

In [50]:
import pickle

In [51]:
with open("knnNew.pkl" , "wb") as knnModel:
    pickle.dump(knn , knnModel)

In [52]:
with open("scaler.pkl" , "wb") as knnModel:
    pickle.dump(scaler , knnModel)